---
export type Event = {
  name: string;
  data: string;
  hour: string;
  location: string;
  free: boolean;
  registration: boolean;
  author: string;
  organizer:string;
  link: string;
  description: string;
  shortDescription: string;
  photoUrl?: string;
};
export interface Props {
  home: boolean;
  event: Event;
}

const { home, event } = Astro.props;
---

<a href={event.link} title={event.name}>
  <div class="eventCard">
    <h3>{event.name}</h3>
    {event.photoUrl && <img src={event.photoUrl} alt=`Locandina dell'evento ${event.name}` />}
    <div class="eventData">
      <div class="data">{event.data} alle ore {event.hour}</div>
      <div class="location">{event.location}</div>
      <div class="price">{event.free && "Gratis"}</div>
      <div class="author">{event.author}</div>
      <div class="description">
        {home ? event.shortDescription : event.description}
      </div>
    </div>
  </div>
</a>
<style lang="scss">
  @use "../styles/global.scss" as *;
  a {
    display: block;
    background: white;
    width: 47%;
    transition: all .6s;
    min-height: 457px;
    .eventCard {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
        h3 {
        padding: 0 10px;
      }
      img {
        max-width: 100%;
      }
      .eventData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        min-height: 189px;
        >div {
          margin-bottom: 5px;
        }
        .data {
          font-size: .8rem;
        }
        .location {
          font-weight:bold
        }
        .price {
          color: $secondColor;
          font-size: 1.3rem;
          font-weight: bolder;
          min-height:28px;
        }
        .author {
          font-weight: bold;
        }
        .description{
          font-size: .9rem;
        }
      }
    }
    &:hover {
      color: black;
      -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    }
  }
</style>
